This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [23]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [3]:
# First, import the relevant modules
import requests

In [4]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
r = requests.get("https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?start_date=2020-12-01&end_date=2020-12-01&api_key=" + API_KEY)
data1 = r.json()
data1

{'dataset_data': {'limit': None,
  'transform': None,
  'column_index': None,
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'start_date': '2020-12-01',
  'end_date': '2020-12-01',
  'frequency': 'daily',
  'data': [['2020-12-01',
    112.2,
    112.2,
    111.5,
    112.0,
    None,
    51.0,
    5703.0,
    None,
    None,
    None]],
  'collapse': None,
  'order': None}}

In [5]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
print(data1['dataset_data'].keys())
print(data1['dataset_data']['column_names'])
print(data1['dataset_data']['data'])

dict_keys(['limit', 'transform', 'column_index', 'column_names', 'start_date', 'end_date', 'frequency', 'data', 'collapse', 'order'])
['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover']
[['2020-12-01', 112.2, 112.2, 111.5, 112.0, None, 51.0, 5703.0, None, None, None]]

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [7]:
r = requests.get("https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?start_date=2017-01-01&end_date=2017-12-31&api_key=" + API_KEY)
json_data = r.json()

In [8]:
type(json_data)

dict

In [9]:
json_data['dataset_data'].keys()

dict_keys(['limit', 'transform', 'column_index', 'column_names', 'start_date', 'end_date', 'frequency', 'data', 'collapse', 'order'])

In [10]:
json_data['dataset_data']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [11]:
open_list = []
change_list = []
for d in json_data['dataset_data']['data']:
    if d[1]:
        open_list.append(d[1])
    if d[2] and d[3]:
        change_list.append(round(d[2]-d[3], 2))
print(open_list)

[51.76, 51.65, 51.45, 51.05, 51.16, 51.88, 52.73, 52.37, 52.7, 53.11, 52.64, 52.29, 52.28, 51.5, 50.89, 50.8, 51.21, 49.5, 49.52, 48.64, 49.64, 49.09, 49.13, 49.11, 48.8, 48.4, 47.25, 46.57, 47.03, 47.09, 47.98, 48.4, 48.38, 47.3, 47.65, 46.42, 46.16, 45.81, 45.0, 45.88, 46.29, 46.53, 45.48, 45.2, 45.01, 45.16, 44.9, 45.08, 45.72, 46.01, 45.8, 45.61, 45.5, 45.58, 45.97, 45.64, 46.2, 46.19, 46.01, 45.36, 44.51, 43.58, 42.0, 42.35, 42.3, 42.3, 41.48, 42.29, 42.54, 42.65, 42.5, 42.29, 42.35, 42.49, 43.21, 42.81, 42.7, 43.0, 42.66, 43.0, 42.38, 42.16, 42.0, 42.0, 41.71, 42.11, 42.64, 42.72, 42.82, 42.46, 42.42, 42.28, 41.88, 42.4, 42.53, 42.12, 41.3, 41.73, 43.5, 44.9, 45.85, 45.13, 45.34, 45.25, 45.24, 44.94, 45.26, 45.16, 44.91, 44.7, 45.31, 45.57, 45.74, 45.06, 45.5, 45.6, 45.07, 44.67, 44.29, 44.94, 44.64, 44.79, 45.5, 44.67, 45.83, 45.29, 45.01, 45.73, 46.68, 47.23, 46.95, 47.29, 47.03, 47.46, 46.48, 46.9, 45.66, 46.34, 46.52, 46.5, 47.31, 46.77, 47.8, 47.01, 47.12, 46.8, 46.12, 45.22, 45.05, 45.61, 44.8, 44.8, 43.92, 43.67, 44.16, 43.74, 44.0, 45.06, 45.15, 45.09, 45.18, 43.4, 43.5, 41.83, 43.0, 42.52, 41.86, 42.2, 41.89, 42.17, 41.51, 41.88, 41.93, 42.01, 41.97, 42.5, 41.94, 42.24, 42.06, 42.02, 41.62, 41.46, 40.9, 40.96, 41.1, 39.5, 40.15, 39.77, 40.02, 39.39, 38.95, 38.73, 38.94, 39.01, 38.25, 41.8, 41.26, 41.47, 41.4, 41.4, 41.2, 41.4, 41.53, 41.61, 41.13, 41.5, 41.25, 41.12, 41.38, 41.19, 40.38, 39.75, 39.77, 39.72, 39.6, 38.85, 39.25, 38.8, 38.8, 38.5, 38.81, 37.37, 36.65, 36.2, 35.98, 35.56, 36.06, 36.02, 35.95, 34.75, 35.24, 35.38, 34.83, 35.07, 34.42, 34.0, 34.04, 34.54, 35.04, 35.04, 35.06, 34.85, 34.98, 35.38, 34.95, 34.8, 35.29, 34.91, 35.02, 35.48, 35.9, 34.99]

In [12]:
print(change_list)

[0.49, 0.39, 1.13, 0.58, 0.62, 0.84, 1.66, 1.14, 1.06, 1.39, 0.87, 1.28, 1.19, 1.55, 0.66, 0.72, 0.98, 1.73, 1.32, 1.56, 0.94, 0.86, 0.77, 0.54, 1.01, 1.22, 1.81, 0.84, 0.35, 0.68, 1.26, 1.06, 0.85, 1.73, 0.97, 1.3, 0.49, 0.33, 1.21, 0.88, 0.58, 1.04, 0.96, 0.5, 0.36, 0.52, 0.45, 0.58, 1.06, 0.59, 0.69, 0.45, 0.33, 0.41, 0.72, 0.47, 0.6, 0.5, 0.46, 0.95, 0.8, 0.87, 1.56, 0.71, 0.46, 0.34, 0.9, 0.9, 0.55, 0.52, 0.4, 0.56, 0.45, 0.47, 0.72, 0.33, 0.19, 0.35, 0.37, 0.64, 0.8, 0.99, 0.96, 0.71, 0.65, 0.39, 0.59, 0.42, 0.57, 0.56, 0.56, 0.59, 1.25, 0.64, 0.33, 0.68, 0.98, 0.85, 1.86, 0.94, 2.32, 0.77, 0.63, 0.87, 0.44, 0.81, 0.54, 0.3, 0.87, 0.41, 0.82, 0.84, 0.73, 0.78, 0.85, 0.94, 0.73, 0.51, 1.16, 0.86, 0.67, 0.54, 1.35, 0.92, 1.09, 0.77, 0.74, 0.7, 1.27, 0.94, 0.72, 0.61, 0.65, 0.95, 1.16, 0.65, 1.14, 1.13, 0.81, 0.48, 1.54, 0.89, 1.53, 0.42, 1.24, 0.27, 0.63, 1.04, 0.97, 0.37, 0.65, 0.58, 0.75, 0.58, 0.78, 0.38, 1.01, 1.33, 0.8, 1.47, 1.02, 2.81, 1.07, 1.73, 0.96, 0.53, 0.79, 0.51, 0.47, 0.59, 0.59, 0.73, 0.54, 0.52, 0.79, 1.13, 1.12, 0.67, 0.86, 0.49, 0.49, 0.49, 0.61, 0.5, 0.37, 0.58, 0.42, 0.55, 1.4, 0.61, 0.65, 0.72, 0.96, 0.56, 0.57, 0.42, 0.62, 1.49, 0.86, 0.91, 0.43, 0.48, 0.59, 0.3, 0.38, 0.37, 0.45, 0.76, 0.55, 0.59, 0.38, 0.63, 0.67, 0.57, 0.89, 1.23, 0.6, 0.48, 0.72, 0.44, 0.55, 0.95, 0.53, 0.86, 2.01, 0.93, 0.48, 0.3, 0.69, 0.55, 0.47, 0.5, 1.25, 0.68, 0.64, 0.62, 0.78, 0.83, 0.5, 0.5, 0.54, 0.62, 0.71, 0.4, 0.68, 0.38, 1.07, 1.16, 0.52, 0.92, 0.3, 0.47, 0.76, 0.59, 0.95]

In [13]:
'''Highest opening price'''
max(open_list)

53.11

In [14]:
'''Lowest opening price'''
min(open_list)

34.0

In [15]:
'''Largest change in any one day'''
max(change_list)

2.81

In [16]:
change2_list = []
data = json_data['dataset_data']['data']
for i in range(1, len(data)):
    if data[i][4] and data[i-1][4]:
        change2_list.append(round(abs(data[i][4]-data[i-1][4]), 2))
print(change2_list)

[0.16, 0.22, 0.5, 0.08, 0.13, 0.39, 0.96, 0.61, 0.66, 0.42, 0.66, 0.29, 0.02, 0.65, 0.58, 0.36, 0.11, 1.28, 0.16, 0.95, 0.5, 0.05, 0.09, 0.09, 0.4, 0.41, 1.35, 0.2, 0.19, 0.02, 0.95, 0.34, 0.0, 1.13, 0.26, 1.21, 0.27, 0.02, 0.7, 0.77, 0.28, 0.65, 1.0, 0.41, 0.15, 0.15, 0.13, 0.13, 0.77, 0.19, 0.41, 0.15, 0.03, 0.14, 0.55, 0.1, 0.26, 0.05, 0.06, 1.13, 0.81, 0.61, 1.52, 0.33, 0.3, 0.01, 0.6, 0.53, 0.45, 0.17, 0.15, 0.1, 0.07, 0.28, 0.12, 0.18, 0.1, 0.22, 0.07, 0.02, 0.19, 0.51, 0.04, 0.09, 0.06, 0.23, 0.55, 0.02, 0.0, 0.45, 0.15, 0.09, 0.45, 0.23, 0.02, 0.36, 0.26, 0.13, 2.56, 0.59, 0.11, 0.1, 0.59, 0.11, 0.15, 0.33, 0.28, 0.09, 0.34, 0.21, 0.83, 0.22, 0.09, 0.57, 0.6, 0.07, 0.58, 0.0, 0.75, 0.5, 0.17, 0.09, 0.57, 0.39, 0.95, 0.31, 0.24, 0.48, 1.15, 0.38, 0.22, 0.3, 0.3, 0.38, 0.73, 0.01, 0.96, 0.66, 0.01, 0.01, 1.13, 1.17, 1.16, 0.0, 0.44, 0.47, 0.66, 0.16, 0.7, 0.02, 0.52, 0.25, 0.63, 0.06, 0.28, 0.14, 0.21, 1.12, 0.17, 0.15, 0.01, 1.72, 0.02, 1.06, 0.51, 0.25, 0.6, 0.25, 0.43, 0.0, 0.44, 0.66, 0.39, 0.08, 0.49, 0.61, 0.68, 0.61, 0.2, 0.0, 0.0, 0.0, 0.45, 0.07, 0.26, 0.37, 0.05, 0.29, 1.17, 0.34, 0.23, 0.26, 0.79, 0.37, 0.09, 0.02, 0.02, 2.04, 0.99, 0.63, 0.12, 0.21, 0.05, 0.0, 0.1, 0.0, 0.28, 0.26, 0.02, 0.22, 0.01, 0.03, 0.36, 0.45, 0.65, 0.05, 0.09, 0.25, 0.47, 0.04, 0.31, 0.01, 0.35, 0.16, 1.47, 0.81, 0.2, 0.16, 0.25, 0.46, 0.03, 0.13, 1.38, 0.59, 0.15, 0.41, 0.06, 0.61, 0.16, 0.11, 0.33, 0.4, 0.09, 0.08, 0.22, 0.05, 0.52, 0.51, 0.24, 0.37, 0.02, 0.13, 0.29, 0.32]

In [17]:
'''Largest change in any two days'''
max(change2_list)

2.56

In [18]:
traded_volume = []
for d in json_data['dataset_data']['data']:
    if d[6]:
        traded_volume.append(d[6])
print(traded_volume)

[34640.0, 40660.0, 57452.0, 71165.0, 120649.0, 50587.0, 137313.0, 129733.0, 204080.0, 132981.0, 128434.0, 87911.0, 71817.0, 109157.0, 48123.0, 88730.0, 83023.0, 94385.0, 101733.0, 123019.0, 67342.0, 42669.0, 102180.0, 50350.0, 38834.0, 91142.0, 78502.0, 97252.0, 54107.0, 89373.0, 67593.0, 67672.0, 76286.0, 90245.0, 120268.0, 94195.0, 48152.0, 60716.0, 56911.0, 37958.0, 56319.0, 56245.0, 74472.0, 56319.0, 47730.0, 43042.0, 43375.0, 55707.0, 59991.0, 45263.0, 65837.0, 49246.0, 43362.0, 49180.0, 69455.0, 65860.0, 44059.0, 66760.0, 94804.0, 115706.0, 95313.0, 99821.0, 157234.0, 76600.0, 51321.0, 56224.0, 79955.0, 105194.0, 57838.0, 65546.0, 44037.0, 107144.0, 65157.0, 68801.0, 52828.0, 103273.0, 59881.0, 64320.0, 71006.0, 66351.0, 105288.0, 151474.0, 157888.0, 97804.0, 98156.0, 47130.0, 69734.0, 65213.0, 70269.0, 95376.0, 68812.0, 72886.0, 131361.0, 104676.0, 64334.0, 127682.0, 183412.0, 175161.0, 355857.0, 156168.0, 164543.0, 96202.0, 77854.0, 187468.0, 74975.0, 62672.0, 114006.0, 50557.0, 81970.0, 112224.0, 104282.0, 73422.0, 87399.0, 71971.0, 104003.0, 104995.0, 67375.0, 82745.0, 115705.0, 90538.0, 71868.0, 47999.0, 66116.0, 48706.0, 50549.0, 71381.0, 136112.0, 134965.0, 117165.0, 82492.0, 73322.0, 80586.0, 56071.0, 89752.0, 108334.0, 70056.0, 202214.0, 101733.0, 83741.0, 107644.0, 112942.0, 99674.0, 1945.0, 1081.0, 686.0, 290.0, 106513.0, 522.0, 587.0, 112.0, 74453.0, 49970.0, 111923.0, 38308.0, 70856.0, 45.0, 166160.0, 149515.0, 101476.0, 193702.0, 159495.0, 189125.0, 91858.0, 151439.0, 97456.0, 78512.0, 82058.0, 65266.0, 86559.0, 86348.0, 86348.0, 151683.0, 65847.0, 85973.0, 102084.0, 186784.0, 223621.0, 92722.0, 133057.0, 88416.0, 88416.0, 88416.0, 158278.0, 107817.0, 62297.0, 81255.0, 96794.0, 156005.0, 193156.0, 127973.0, 95382.0, 189201.0, 335406.0, 115075.0, 191515.0, 210926.0, 169971.0, 670349.0, 56906.0, 97572.0, 90109.0, 55799.0, 60324.0, 60420.0, 44803.0, 38518.0, 43988.0, 45111.0, 61925.0, 46510.0, 40800.0, 49863.0, 86753.0, 67440.0, 62655.0, 101294.0, 81945.0, 77619.0, 46070.0, 37014.0, 60583.0, 84682.0, 77420.0, 82601.0, 177171.0, 115843.0, 67781.0, 39731.0, 67410.0, 41911.0, 40705.0, 54279.0, 85137.0, 63371.0, 69603.0, 69657.0, 64103.0, 56240.0, 48797.0, 55333.0, 80246.0, 73105.0, 65931.0, 39195.0, 47879.0, 59367.0, 163860.0, 123530.0, 43976.0, 62225.0, 27507.0, 48412.0, 54408.0, 70618.0, 44700.0]

In [19]:
'''Average daily trading volume in 2017'''
sum(traded_volume) / 365

62264.94794520548

In [20]:
traded_volume.sort()

In [21]:
len(traded_volume)

255

In [22]:
'''Median trading volume in 2017'''
traded_volume[(255-1)//2]

76286.0